* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  color: black;
}

.main-container {
  width: 100vw;
  height: 100vh;
  border-radius: 0.3rem;
}
.image-container {
  height: 40vh;
  border-radius: 0.3rem;
}

.content-container {
  height: 30vh;
  padding: 2rem;
}
.flag {
  border-radius: 0.3rem 0.3rem 0 0;
}
.name {
  font-weight: 600;
  margin: 1rem 0;
}
.content {
  margin: 0.3rem 0;
}

.sub-content {
  color: rgb(252, 27, 27);
}

@media only screen and (min-width: 992px) {
  .main-container {
    height: 60vh;
  }

  .image-container {
    height: 30vh;
  }
  .content-container {
    height: 30vh;
  }
  .name {
    font-weight: 600;
    margin: 0.5rem 0;
  }
  .content {
    margin: 0.15rem 0;
  }
}
